---
http_interactions:
- request:
    method: get
    uri: https://api-extensions.southwest.com/v1/mobile/flights/products?currency-type=Dollars&departure-date=2016-02-01&destination-airport=ATL&number-adult-passengers=1&number-senior-passengers=0&origination-airport=MDW&promo-code=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - l7xx8d8bfce4ee874269bedc02832674129b
  response:
    status:
      code: 200
      message: OK
    headers:
      Correlationid:
      - DwUIAuy-Qw25WSQAcItfrw-API
      Content-Type:
      - application/vnd.swacorp.com.mobile.products-v1.0+json
    body:
      encoding: UTF-8
      string: '{"trips":[{"travelDate":"2016-02-01","originationAirportCode":"MDW","destinationAirportCode":"ATL","lowestFareProduct":{"fareType":"Wanna
        Get Away","cents":11400,"points":0},"airProducts":[{"durationMinutes":280,"segments":[{"originationAirportCode":"MDW","destinationAirportCode":"ATL","marketingCarrierInfo":{"carrierCode":"WN","flightNumber":"1660"},"operatingCarrierInfo":{"carrierCode":"WN","flightNumber":"1660"},"departureDateTime":"2016-02-01T05:30","arrivalDateTime":"2016-02-01T11:10","numberOfStops":1,"stopAirportCodes":["DCA"],"wifiAvailable":true}],"fareProducts":[{"productId":"S1pCUHxBbWVyaWNhL0NoaWNhZ298MjAxNjAyMDEwNTMwLDIwMTYwMjAxMTExMHxNRFctQVRMfFdOMTY2MHxLfEFEVHw3M1c=","fareType":"Business
        Select","seatsAvailable":"8","unavailabilityReason":"NONE","bookingCode":"K","fareBasisCode":"KZBP","paxPricingType":"ADT","currencyPrice":{"totalFareCents":34500,"discountedTotalFareCents":34500,"accrualPoints":3649}},{"productId":"WUx8QW1lcmljYS9DaGljYWdvfDIwMTYwMjAxMDUzMCwyMDE2MDIwMTExMTB8TURXLUFUTHxXTjE2NjB8WXxBRFR8NzNX","fareType":"Anytime","seatsAvailable":"8","unavailabilityReason":"NONE","bookingCode":"Y","fareBasisCode":"YL","paxPricingType":"ADT","currencyPrice":{"totalFareCents":32900,"discountedTotalFareCents":32900,"accrualPoints":2892}},{"productId":"UkxBMFdOUk98QW1lcmljYS9DaGljYWdvfDIwMTYwMjAxMDUzMCwyMDE2MDIwMTExMTB8TURXLUFUTHxXTjE2NjB8UnxBRFR8NzNX","fareType":"Wanna
        Get Away","se[...]
