---
http_interactions:
- request:
    method: get
    uri: https://api-extensions.southwest.com/v1/mobile/flights/products?currency-type=Dollars&departure-date=2016-07-01&destination-airport=ATL&number-adult-passengers=1&number-senior-passengers=0&origination-airport=MDW&promo-code=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - l7xx8d8bfce4ee874269bedc02832674129b
      Content-Type:
      - application/vnd.swacorp.com.accounts.login-v1.0+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Correlationid:
      - lNL3k9MvQrOrCTp4mOicyw-API
      Content-Type:
      - application/vnd.swacorp.com.mobile.products-v1.0+json
    body:
      encoding: UTF-8
      string: '{"trips":[{"travelDate":"2016-07-01","originationAirportCode":"MDW","destinationAirportCode":"ATL","lowestFareProduct":{"fareType":"Wanna
        Get Away","cents":13900,"points":0},"airProducts":[{"durationMinutes":105,"segments":[{"originationAirportCode":"MDW","destinationAirportCode":"ATL","marketingCarrierInfo":{"carrierCode":"WN","flightNumber":"309"},"operatingCarrierInfo":{"carrierCode":"WN","flightNumber":"309"},"departureDateTime":"2016-07-01T05:25","arrivalDateTime":"2016-07-01T08:10","numberOfStops":0,"stopAirportCodes":[],"wifiAvailable":true}],"fareProducts":[{"productId":"S0xORVZ8QW1lcmljYS9DaGljYWdvfDIwMTYwNzAxMDUyNSwyMDE2MDcwMTA4MTB8TURXLUFUTHxXTjMwOXxLfEFEVHw3M1c=","fareType":"Business
        Select","seatsAvailable":"8","unavailabilityReason":"NONE","bookingCode":"K","fareBasisCode":"KLNEV","paxPricingType":"ADT","currencyPrice":{"totalFareCents":35800,"discountedTotalFareCents":35800,"accrualPoints":3839}},{"productId":"WUxORVZ8QW1lcmljYS9DaGljYWdvfDIwMTYwNzAxMDUyNSwyMDE2MDcwMTA4MTB8TURXLUFUTHxXTjMwOXxZfEFEVHw3M1c=","fareType":"Anytime","seatsAvailable":"8","unavailabilityReason":"NONE","bookingCode":"Y","fareBasisCode":"YLNEV","paxPricingType":"ADT","currencyPrice":{"totalFareCents":34200,"discountedTotalFareCents":34200,"accrualPoints":3050}},{"productId":"V0xOQ1BOUnxBbWVyaWNhL0NoaWNhZ298MjAxNjA3MDEwNTI1LDIwMTYwNzAxMDgxMHxNRFctQVRMfFdOMzA5fFd8QURUfDczVw==","fareType":"Wanna
        Get Aw[...]
- request:
    method: get
    uri: https://api-extensions.southwest.com/v1/mobile/flights/products?currency-type=Dollars&departure-date=2016-07-01&destination-airport=MCI&number-adult-passengers=1&number-senior-passengers=0&origination-airport=MDW&promo-code=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - l7xx8d8bfce4ee874269bedc02832674129b
      Content-Type:
      - application/vnd.swacorp.com.accounts.login-v1.0+json
  response:
    status:
      c[...]
- request:
    method: get
    uri: https://api-extensions.southwest.com/v1/mobile/flights/products?currency-type=Dollars&departure-date=2016-07-01&destination-airport=ATL&number-adult-passengers=1&number-senior-passengers=0&origination-airport=MCI&promo-code=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - l7xx8d8bfce4ee874269bedc02832674129b
      Content-Type:
      - application/vnd.swacorp.com.accounts.login-v1.0+json
  response:
    status:
      c[...]
